
.text{
color: rgb(117, 178, 199);
display: inline-block;
}

.block{
    width: 600px;
    height: 70px;
    background-color: rgb(56, 92, 142);
    display: inline-flex;
    align-items:center;
    justify-content: flex-start;
    border-radius: 3px;
    margin: 200px 50px 0px;
    


}
.one{
    width: 60px;
    height: 63px;
    background-color:rgb(78, 123, 186) ;
    border-radius: 9px;
    margin: 3px;

}
.two{
    width: 60px;
    height: 63px;
    background-color:rgb(78, 123, 186) ;
    border-radius: 9px;
    margin: 3px;

}
.three{
    width: 60px;
    height: 63px;
    background-color:rgb(78, 123, 186) ;
    border-radius: 9px;
    margin: 3px;

}
.four{
    width: 60px;
    height: 63px;
    background-color:rgb(78, 123, 186) ;
    border-radius: 9px;
    margin: 3px;

}
.five{
    width: 60px;
    height: 63px;
    background-color:rgb(78, 123, 186) ;
    border-radius: 9px;
    margin: 3px;

}
